<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />
        
  <!-- Tell the system this app requires OpenGL ES 3.2. -->
      <uses-feature 
            android:glEsVersion="0x00030002" 
            android:required="true" />
            
      <uses-feature android:name="android.hardware.usb.host" />

     <queries>
        <package android:name="com.xiaomi.market" />
        <package android:name="com.google.android.webview" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <package android:name="com.android.shell" />
        <package android:name="com.android.chrome" />
        <package android:name="com.android.browser" />
        <package android:name="Android.XiaomiHyperOS.CuteKitty" />
     </queries>

    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="ftp" />
        </intent>
    </queries>
    
    <!-- 读取系统日志权限，adb命令授权即可 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 获取保护机制权限，adb命令授权即可 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <!-- 转存系统信息权限，adb命令授权即可 -->
    <uses-permission android:name="android.permission.DUMP" />
    <!-- 读取共享存储空间中的图片文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 从共享存储空间读取音频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- 从共享存储空间读取视频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 所有文件访问权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 运行「dataSync」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- 运行「specialUse」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- 运行「systemExempted」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <!-- 运行「camera」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <!-- 运行「connectedDevice」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <!-- 运行「fileManagement」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_FILE_MANAGEMENT" />
    <!-- 运行「health」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <!-- 运行「location」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- 运行「mediaPlayback」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <!-- 运行「mediaProjection」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <!-- 运行「microphone」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <!-- 运行「phoneCall」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <!-- 运行「remoteMessaging」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <!-- 以高采样率访问传感器数据 -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 更改网络连接性 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 查询所有软件包 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- 让应用始终运行 -->
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <!-- 显示通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 对正在运行的应用重新排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:enabled="true"
        android:allowBackup="true" 
        android:persistent="true"
        android:vmSafeMode="true"
        android:directBootAware="false"
        android:usesNonSdkApi="true"
        android:extractNativeLibs="true"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:attributionsAreUserVisible="true"
        android:preserveLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="app.prop.Prop"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/AppTheme"
        tools:targetApi="35">
        <meta-data
            android:name="META-INF"
            android:value="MLAG-V3.0" />
        <meta-data
            android:name="XiaomiHyperOS"
            android:value="OS2 + v816" />
			
        <activity-alias
             android:label="@string/app_activity_name"
             android:name="com.android.activity"
             android:exported="true"
             android:enabled="true"
             android:targetActivity="app.TaskActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data 
                 android:name="android.app.shortcuts"
                 android:resource="@xml/shortcuts" />
        </activity-alias>
        
        <activity 
            android:label="@string/app_app_name"
            android:theme="@style/TActivityTheme"
            android:name="app.TaskActivity"
            android:immersive="true"
            android:directBootAware="false"
            android:stateNotNeeded="true"
            android:launchMode="singleInstancePerTask"
            android:windowSoftInputMode="adjustPan"
            android:persistableMode="persistNever"
            android:enableVrMode="true"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:autoVerify="true">
                  <action android:name="android.intent.action.VIEW" />
                  <category android:name="android.intent.category.DEFAULT" />
                  <category android:name="android.intent.category.BROWSABLE" />
                  <data android:scheme="class" />
                  <data android:scheme="app" />
                  <data android:scheme="string" />
                  <data android:scheme="apk" />
                  <data android:scheme="###" />
                  <data android:host="class.string.data" />
            </intent-filter>
            <meta-data 
                 android:name="android.app.shortcuts"
                 android:resource="@xml/shortcuts" />
            <meta-data 
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        
        <activity 
            android:label="@string/app_activity_image"
            android:theme="@style/ActivityTheme"
            android:name="app.ImageActivity" 
            android:permission="android.permission.INTERACT_ACROSS_USERS"
            android:immersive="true"
            android:stateNotNeeded="true"
            android:directBootAware="false"
            android:launchMode="singleInstancePerTask"
            android:windowSoftInputMode="adjustPan"
            android:enableVrMode="true"
            android:enabled="true"
            android:exported="true" />
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="Android.XiaomiHyperOS.CuteKitty.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file" />
       </provider>
       
       <service
           android:name="app.service.OkioService" 
           android:enabled="true"
           android:exported="false"
           android:foregroundServiceType="specialUse"
           android:permission="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
       
       <provider
           android:name="rikka.shizuku.ShizukuProvider"
           android:authorities="Android.XiaomiHyperOS.CuteKitty.shizuku"
           android:multiprocess="false"
           android:enabled="true"
           android:exported="true"
           android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
       
    </application>
</manifest>